﻿
@{
    ViewBag.Title = "Category";
}

<h2>Admin > Category</h2>
<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="cat_id" class="col-sm-3 control-label">Category ID</label>
            <div class="col-sm-9">
                <input type="text" id="cat_id" placeholder="1" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="cat_name" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-9">
                <input type="text" id="cat_name" placeholder="Category name" class="form-control autofocus">
                <span class="help-block">VD: Khoa Hoc, Dia Ly</span>
            </div>
        </div>
        <div class="form-group">
            <label for="cat_description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="cat_description" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary">Add Category</button>
            </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->
</br></br></br>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Description</th>
                <th>Insert time</th>
                <th>Insert user</th>
                <th>Update time</th>
                <th>Update user</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Khoa Hoc</td>
                <td>Sach khoa hoc vien tuong</td>
                <td>02/09/2019</td>
                <td>GEFORT</td>
                <td>---</td>
                <td>---</td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Van Hoc</td>
                <td>Sach Van hoc</td>
                <td>03/09/2019</td>
                <td>GEFORT</td>
                <td>---</td>
                <td>---</td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Ngoai Ngu</td>
                <td>Cac loai sach day ngon ngu tren the gioi</td>
                <td>02/09/2019</td>
                <td>GEFORT</td>
                <td>---</td>
                <td>---</td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
